#content(layout='column', flex='', role='main')

	md-content#content(layout='column', flex='', layout-align='center center')

		div(layout='row', layout-align='center center', layout-fill='')

			//- Adding a whiteframe elevation when on a window of width > 600px
			md-whiteframe(ng-class="{ 'md-whiteframe-z3': registration.$mdMedia('gt-xs') }", layout='column', flex='100', flex-gt-xs='30', layout-padding='')
				
				md-content

					div(layout='row')
						md-input-container(flex)
							label Username
							input(ng-model='user.username')

					div(layout='row')
						md-input-container(flex)
							label Mobile No
							input(ng-model='user.mobileno')

					div(layout='row')
						md-input-container(flex)
							label Email
							input(ng-model='user.email')
					p Sex :
						md-radio-group(ng-model='user.sex', layout='row')
							md-radio-button(value='male',checked='true') Male
							md-radio-button(value='female') Female
					p Role :
						md-radio-group(ng-model='user.role', layout='row')
							md-radio-button(value='patient',checked='true') Patient
							md-radio-button(value='doctor') Doctor
					div(layout='row')
						md-input-container(flex)
							label Password
							input(ng-model='user.password')

					div(layout='row')
						md-input-container(flex)
							label Conform Password
							input(ng-model='user.conformpassword')

					div(layout='row')
						md-input-container(flex, layout='column', layout-gt-xs='row', layout-align='center', layout-align-gt-xs='center center')
							md-button.md-raised(flex='50', flex-xs='100', flex-sm='100') Cancel
							md-button.md-raised.md-primary(flex='50', flex-xs='100' flex-sm='100') Submit
