#content(layout='column', flex='', role='main')

  div
    p The text query : {{ fbTest.text }}
    p The Object query:
      ul
        li name: {{ fbTest.obj.name }}
        li email: {{ fbTest.obj.email }}
